<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>190525346403-1hgr1vom9c7rtn0o5goak73opktkb8ae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190525346403-1hgr1vom9c7rtn0o5goak73opktkb8ae</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>190525346403-tgbk4kff916ohim61b20oue77vpn6djs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_zycd6j63unaTiyYXNBsjrE6TJzr1nm4</string>
	<key>GCM_SENDER_ID</key>
	<string>190525346403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vunah.teamvt.TVSea</string>
	<key>PROJECT_ID</key>
	<string>livestreaming-46229</string>
	<key>STORAGE_BUCKET</key>
	<string>livestreaming-46229.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190525346403:ios:1b01077e4a5b7786</string>
	<key>DATABASE_URL</key>
	<string>https://livestreaming-46229.firebaseio.com</string>
</dict>
</plist>